<div id="<%= dom_id opinion %>">
  
	<div class="feed-item">
		<p class="decision-date">Decided <%= opinion.decision_date.strftime('%B %d, %Y') %></p>
    <p><strong><%= opinion.title %></strong></p>
    
    <p>
      <%= opinion.holding %>
    </p>
    <p>
	    <% opinion.files.each do |file| %>

	    <i class="fa fa-file-text-o" style="font-size:20px"></i>
	      <%= link_to "Full Opinion", rails_blob_path(file, disposition: :inline), :target => '_blank' %>
	    <% end %>
    </p>
<p> <i class="fa fa-file-text-o" style="font-size:20px"></i> <%= link_to opinion.scotus_filename, opinion.scotus_filename %></p>
</div>

<div class="full-decision">

<p>Full Decision |
	<% if user_signed_in? && current_user.admin? %> 
	  <%= link_to "Edit this opinion", edit_opinion_path(@opinion) %> | <%= link_to "Delete this opinion", @opinion, method: :delete  %> |  
  <% end %>
  <%= link_to "Back to opinions", opinions_path %>
</p>


<div id="full-decision-text"><%= raw opinion.full_decision %></div>

</div>

<script>
	var paragraph = document.getElementById("full-decision-text");
	var text = paragraph.innerText;
	var sentences = text.match(/[^\.!\?]+[\.!\?]+/g);
	var newHTML = "";
	for (let i = 0; i < sentences.length; i++) {
	     if(!isAcronym(sentences[i])){
	       newHTML += `<span class="sentence">${sentences[i]}</span>`;
	     }else{
	       newHTML += sentences[i];
	     }
	}
	paragraph.innerHTML = newHTML;

	var sentenceElements = paragraph.getElementsByClassName("sentence");
	for (let i = 0; i < sentenceElements.length; i++) {
	  sentenceElements[i].addEventListener("mouseover", event => {
	    event.target.style.backgroundColor = "yellow";
	  });
	  sentenceElements[i].addEventListener("mouseout", event => {
	    event.target.style.backgroundColor = "white";
	  });
	}
	
	function isAcronym(sentence) {
	  var acronymRegex = /(^|[\s])[A-Z]\./g;
	  return acronymRegex.test(sentence);
	}
</script>