<div id="<%= dom_id opinion %>">
  
<div class="feed-item-selected">
<p class="decision-date">Decided <%= opinion.decision_date.strftime('%B %d, %Y') %></p>
<p><h3><%= opinion.title %></h3></p> 
<p>Holding: <%= opinion.holding %></p>
 <!--   <p>
	     <% opinion.files.each do |file| %>

	    <i class="fa fa-file-text-o" style="font-size:20px"></i>
	      <%= link_to "Full Opinion", rails_blob_path(file, disposition: :inline), :target => '_blank' %>
	    <% end %> 
		    
    </p>-->
	 
	<p> 
		<i class="fa fa-file-text-o" style="font-size:16px; color: #008000;"></i> 
		<%= link_to_unless_current "Full Decision", "?view=HTML" %>&nbsp;&nbsp;
		<i class="fa fa-file-text-o" style="font-size:16px; color: #CB4335;"></i> 
  <%= link_to_unless_current "View PDF", "?view=PDF", onclick: "embedPDF('#{opinion.scotus_filename}')", id: "pdf-link" %>&nbsp;&nbsp;
  <i class="fa fa-commenting-o" aria-hidden="true" style="color: #4169E1;"></i>
		<%= link_to "Comments", "#comments" %>
	</p>
</div>


<% if params[:view].present? && params[:view] == "PDF" %>

<div id="pdf-viewer" style="margin-top: 15px;">
  <embed src="<%= opinion.scotus_filename %>" type="application/pdf" width="100%" height="1120px" />
</div>

<% else %>
	<div id="full-decision">

<% if user_signed_in? && current_user.admin? %> 
<div class="case-navigation"><p>
     <%= link_to "Edit this opinion (Admin Only)", edit_opinion_path(@opinion) %> 
</p>
</div>
<% end %>


<details open>
	<summary><a id="full-decision"></a><strong>Full Decision</strong></summary>

<div id="full-decision-text">
    <% opinion.full_decision.split('.').each_with_index do |sentence, i| %>
      <span class="sentence" id="sentence-<%= i %>"><%= sentence.html_safe %>.</span>
    <% end %>
</div>

</details>

<details>
	<summary><a id="syllabus"></a><strong>Syllabus</strong></summary>
<div id="full-decision-text">
     <%= opinion.syllabus.html_safe %>
</div>
</details>

<details>
<summary><a id="majority"></a><strong>Majority Opinion</strong></summary>
<div id="full-decision-text">
     <%= opinion.majority_opinion.html_safe %>
</div>
</details>

<% if opinion.dissent.present? %>
<details>
<summary><a id="dissent"></a><strong>Dissent</strong></summary>
<div id="full-decision-text">
     <%= opinion.dissent.html_safe %>
</div>
</details>
<% end %>

</div>
<% end %>


<div id="pdf-viewer" style="display: none; margin-top: 15px;">
  <embed src="<%= opinion.scotus_filename %>" type="application/pdf" width="100%" height="1120px" />
</div>


<script>
function embedPDF(filename) {
    var fullDecision = document.querySelector('#full-decision');
    var pdfViewer = document.querySelector('#pdf-viewer');
    fullDecision.style.display = 'none';
    pdfViewer.style.display = 'block';
}
</script>

