<div id="<%= dom_id opinion %>">
  
<div class="feed-item-selected">
<h3><%= opinion.title %> <span style="font-size:16px;"><i class="fa fa-file-pdf-o" style="color: #CB4335;"></i> 
  <%= link_to "PDF", "?view=PDF", onclick: "embedPDF('#{opinion.scotus_filename}')", id: "pdf-link" %></span></h3>
<p>Decided: <%= opinion.decision_date.strftime('%B %d, %Y') %></p>
<% if user_signed_in? && current_user.admin? %> 
  <p><%= link_to "Edit this opinion (Admin Only)", edit_opinion_path(@opinion) %></p>
<% end %>

</div>


<% if params[:view].present? && params[:view] == "PDF" %>

<div id="pdf-viewer" style="margin-top: 10px;">
  <embed src="<%= opinion.scotus_filename %>" type="application/pdf" width="100%" height="1125px" />
</div>

<% else %>

<div id="full-decision-text">
  <% @opinion.quotes.order(:id).each_with_index do |quote, i| %>
    <span class="sentence" data-sentence-id="<%= i %>"><%= quote.content.html_safe %></span>
  <% end %>
</div>



</div>

<% end %>



