
<div id="feed">
		
  <% @opinions.each do |opinion| %>

	<div class="feed-item">
		<p class="decision-date">Decided <%= opinion.decision_date.strftime('%B %d, %Y') %></p>
    <p><strong><%= link_to opinion.title, opinion %>
    </strong></p>
    
    <p>
      <%= opinion.holding %>
    </p>
    <p>
	    <% opinion.files.each do |file| %>

	    <i class="fa fa-file-text-o" style="font-size:20px"></i>
	      <%= link_to file.filename, rails_blob_path(file, disposition: :inline), :target => '_blank' %>
	    <% end %>
    </p>
    
</div>

  <% end %>
</div>

<% if user_signed_in? %> 
	<%= link_to "New opinion", new_opinion_path %>
<% end %>