<div>
<center><table style="width: 100%">
  <thead>
    <tr>
      <th>Case</th>
      <th>Decision Date</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    <% @opinions.each do |opinion| %>
      <tr>
        <td><%= link_to opinion.title, opinion %></td>
        <td><%= opinion.decision_date.strftime('%B %d, %Y') %></td>
        <td>
          <i class="fa fa-file-text-o" style="font-size:16px; color: #008000;"></i>
          <%= link_to "HTML", "/opinions/#{opinion.slug}?view=HTML" %>&nbsp;
          <i class="fa fa-file-pdf-o" style="font-size:16px; color: #CB4335;"></i>
          <%= link_to "PDF", opinion.scotus_filename %>
		
        </td>
      </tr>
    <% end %>
  </tbody>
</table>	</center>
</div>

<%= paginate @opinions %>


<% if user_signed_in? && current_user.admin? %> 
	<p><%= link_to "New opinion", new_opinion_path %></p>
<% end %>

<br>
<% unless user_signed_in? %>
<div class="row">
Sign up for updates!
  <%= form_with url: new_user_registration_path, method: :get, id: 'sign_up_form', local: true do %>
    <%= email_field_tag :email, nil, placeholder: "test@mailbox.com", class: "", id: "exampleEmailInput" %>
    
    <%= submit_tag "Submit", class: "button-primary" %>
  <% end %>
</div>

<script>
  document.getElementById('sign_up_form').addEventListener('submit', function(e) {
    var email = document.getElementById('exampleEmailInput').value;
    this.action = '<%= new_user_registration_path %>' + '?user[email]=' + encodeURIComponent(email);
  });
</script>

<% end %>