
<div id="feed">
		
  <% @opinions.each do |opinion| %>

	<div class="feed-item">
		<p class="decision-date">Decided <%= opinion.decision_date.strftime('%B %d, %Y') %></p>
    <p><strong><%= link_to opinion.title, opinion %>
    </strong></p>
    
    <p>
      <%= opinion.holding %>
    </p>

<p> <i class="fa fa-file-text-o" style="font-size:20px"></i> <%= link_to "PDF of opinion", opinion.scotus_filename %></p>
</div>
  <% end %>
</div>

<p>
<% if user_signed_in? && current_user.admin? %> 
	<%= link_to "New opinion", new_opinion_path %>
<% end %>
</p>