
<div id="feed">
		
  <% @opinions.each do |opinion| %>

	<div class="feed-item">
		<p class="decision-date">Decided <%= opinion.decision_date.strftime('%B %d, %Y') %></p>
    <p><strong><%= link_to opinion.title, opinion %>
    </strong></p>
    
    <p>
      <u>Holding</u>: <%= opinion.holding %>
    </p>

<p> 
	<i class="fa fa-file-text-o" style="font-size:16px; color: #008000;"></i> 
	<%= link_to "Full Decision", opinion_path(opinion) %> &nbsp;|&nbsp;
	<i class="fa fa-file" style="font-size:16px; color: #CB4335;"></i> 
	<%= link_to "PDF", opinion.scotus_filename %> &nbsp;|&nbsp; 
	<i class="fa fa-commenting" aria-hidden="true" style="font-weight: bold; color: #4169E1;"></i>
	<%= link_to "Comments", opinion_path(opinion, anchor: "comments") %>
	(<%= opinion.comments.count  %>)
</p>

</div>
  <% end %>
</div>

<p>
<% if user_signed_in? && current_user.admin? %> 
	<%= link_to "New opinion", new_opinion_path %>
<% end %>
</p>