<%= turbo_stream_from @opinion %>

<div>
	<%= render @opinion %>
</div>

<div>
<center><table style="width: 100%;">
  <thead>
    <tr>
      <th>Current Term</th>
      <th>Decision Date</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    <% @opinions.each do |opinion| %>
      <tr>
        <td><%= link_to opinion.title, opinion %></td>
        <td><%= opinion.decision_date.strftime('%B %d, %Y') %></td>
        <td>
          <i class="fa fa-file-text-o" style="font-size:16px; color: #008000;"></i>
          <%= link_to "HTML", "/opinions/#{opinion.slug}?view=HTML" %>&nbsp;
          <i class="fa fa-file-pdf-o" style="font-size:16px; color: #CB4335;"></i>
          <%= link_to "PDF", "/opinions/#{opinion.slug}?view=PDF" %>
		
        </td>
      </tr>
    <% end %>
  </tbody>
</table>	</center>
</div>


<div id="comments">
	<strong>Comments</strong>
	<p>
	<% if user_signed_in? %>
		<%= render "opinions/comments", opinion: @opinion %>
	<% else %>
		<p><%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to comment.</p>
	<% end %>
</div>
<br>

<div>

  <% if user_signed_in? && current_user.admin? %> 
	<div class="case-navigation">
	  <%= link_to "Edit this opinion (Admin Only)", edit_opinion_path(@opinion) %>
    <%= button_to "sign out", destroy_user_session_path, method: :delete %>
  	</div>
  <% end %> 
  
</div>

