<%= turbo_stream_from @opinion %>

<div>
	<%= render @opinion %>
</div>

<div>
<center><table style="width: 100%;">
  <thead>
    <tr>
      <th>Other recent cases...</th>
      <th>Date</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    <% @opinions.each do |opinion| %>
      <tr>
        <td><%= link_to opinion.title, opinion %></td>
        <td><%= opinion.decision_date.strftime('%B %d, %Y') %></td>
        <td>
          <i class="fa fa-file-text-o" style="font-size:16px; color: #008000;"></i>
          <%= link_to "HTML", "/opinions/#{opinion.slug}?view=HTML" %>&nbsp;
          <i class="fa fa-file-pdf-o" style="font-size:16px; color: #CB4335;"></i>
          <%= link_to "PDF", "/opinions/#{opinion.slug}?view=PDF" %>
		
        </td>
      </tr>
    <% end %>
  </tbody>
</table>	</center>
<p><%= link_to "View more", opinions_path %></p>

</div>


<div>
	<h5>Comments</h5>
	<% if user_signed_in? %>
		<%= render "opinions/comments", opinion: @opinion %>
	<% else %>
	    <%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to comment.
	<% end %>
</div>
