<%= turbo_stream_from @opinion %>

<div id="">
	<%= render @opinion %>
</div>

<div id="comments">
	<strong>Comments</strong>
	<p>
	<% if user_signed_in? %>
		<%= render "opinions/comments", opinion: @opinion %>
	<% else %>
		<p><%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to comment.</p>
	<% end %>
</div>

<div id="">

  <% if user_signed_in? && current_user.admin? %> 
	<div class="case-navigation">
	  <%= link_to "Edit this opinion (Admin Only)", edit_opinion_path(@opinion) %>
    <%= button_to "sign out", destroy_user_session_path, method: :delete %>
	  <%= button_to "Delete this opinion", @opinion, method: :delete  %>
  	</div>
  <% end %> 
  
<p><a href="#">Back to Top</a></p>  

</div>