<%= turbo_stream_from @opinion %>

<div id="feed">
	<%= render @opinion %>
</div>

<div>
<p>  <% if user_signed_in? && current_user.admin? %> 
	  <%= link_to "Edit this opinion", edit_opinion_path(@opinion) %> | <%= link_to "Delete this opinion", @opinion, method: :delete  %> |  
  <% end %>
  <%= link_to "Back to opinions", opinions_path %>
</p>
</div>

<br><br>

<div id="#comments">
<%= render "opinions/comments", opinion: @opinion %>
</div>

<div><h3>Suggested cases</h3>
	<table>
	  <tbody>
	    <tr>
	      <td>Test</td>
	      <td>012345</td>
	    </tr>
	    <tr>
	      <td>Test</td>
	      <td>112346</td>
	    </tr>

	  </tbody>
	</table>
</div>