<!DOCTYPE html>
<html>
  <head>
    <title>SCOTUSfiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>
  
  <h1><a href="../">SCOTUS<mark>files</mark></a></h1>

  <body>

<% unless user_signed_in? %> 	  
	  <div class="signup">
	 <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLScAxJkpdCCjS1AMKawak8KO2putXXow38HD-dYQmlKMMs1JFg/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">

	  <strong>Sign up to receive updates!</strong>
	  	  <input type="email" name="entry.892820949" id="entry.892820949" placeholder="Please enter your email address" size="45" class="textbox" maxlength="24" required>
	 	   <input type="submit" value="Sign Up"> 
	 	 </form>
	 	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
  </div>
<% end %>
  
	 <p> 	  
	  <% if user_signed_in? %> 
	 Welcome <%= current_user.email %></div> 
	    <%= button_to "sign out", destroy_user_session_path, method: :delete %>
	  <% else %>
	   <%= link_to "Sign in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %>
	  <% end %>
	</p>
     <div class="notice"><%= notice %></div>
     <div class="alert"><%= alert %></div>
	 
    <%= yield %>

<script async src="//static.getclicky.com/101395978.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101395978ns.gif" /></p></noscript>

  </body>
</html>
