<!DOCTYPE html>
<html>
  <head>
    <title>SCOTUSfiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>
  
  <h1><a href="../">SCOTUS<mark>files</mark></a></h1>

  <body>
	  
	  <% if user_signed_in? %> 
	   <div><font style="color: green"> Welcome <%= current_user.email %> </font></div> 
	    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
	  <% else %>
	    <%= link_to "Sign in", new_user_session_path %> 
	  <% end %>
	  
    <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    
  </body>
</html>
