<!DOCTYPE html>
<html>
  <head>
    <title>SCOTUSfiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12/lib/typed.min.js"></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

<header id="custom-header" style="display:none;">
  <% if defined?(@opinion) && @opinion.present? %>
    <h1><%= @opinion.title %></h1>
  <% else %>
    <h1><a href="../">SCOTUS <mark>files</mark></a></h1>
  <% end %>
</header>
  
  <center><h1><a href="../">SCOTUS <mark>files</mark></a></h1></center>

  <body>
<div id="signup">
	<p id="typed-text"></p>
</div>

<% unless user_signed_in? %> 	  
	  <div id="signup">
	  	<script type="text/javascript">
	  	var submitted;
		</script>
	 <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSe_FMpNJh1qgqsOw2yhxKHbi3aa117Z6XHC0rLYYJ-HMvnhnQ/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">

	  	  <input type="email" name="entry.1674987373" id="entry.1674987373" placeholder="Subscribe to receive cases by email" size="35" class="textbox" required>
	 	   <input type="submit" value="Subscribe">
	 	 </form>
		 
		 <span id="thanks"></span>
		 
	 	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
  </div>  
<% end %>

<% if notice.present? %>
     <div class="notice"><p><%= notice %></p></div>
<% end %>

<% if alert.present? %>
     <div class="alert"><p><%= alert %></p></div>
<% end %>

<%= yield %>  
    
<div id="footer">  
	
<center><h3>Follow <a href="https://twitter.com/scotusfiles">@scotusfiles</a> for updates</h3>

</div>


	
<script>
     // Check if the user has already viewed the typing animation
     var hasViewedTyping = localStorage.getItem('hasViewedTyping');

     // Only show the typing animation if the user hasn't viewed it before
     if (!hasViewedTyping) {
       // If the flag is not set, initialize the Typed.js plugin and show the typing animation
       var options = {
         strings: ['A better way to read and discuss Supreme Court decisions'],
         typeSpeed: 30,
         showCursor: false
       };
       var typed = new Typed('#typed-text', options);

       // Set a flag in local storage to indicate that the user has viewed the animation
       localStorage.setItem('hasViewedTyping', true);
     } else {
       // If the flag is set, simply display the text string
       document.getElementById('typed-text').textContent = 'A better way to read and discuss Supreme Court decisions';
     }
</script>

<script async src="//static.getclicky.com/101399487.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101399487ns.gif" /></p></noscript>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.2.min.js"></script>
	<script type="text/javascript">
	var submitted=false;
	$('#gform').on('submit', function(e) {
	  $('#gform *').fadeOut(500);
	  $('#thanks').prepend("You're signed up. Thanks!");  
  });
</script>
	  
  </body>
</html>
