<!DOCTYPE html>
<html>
  <head>
    <title>SCOTUSfiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'skeleton.css' %>
    <%= stylesheet_link_tag 'normalize.css' %>
    
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12/lib/typed.min.js"></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

<body>
    <div class="container">
	  <div class="row">
         <div class="two-thirds column" style="margin-top: 10px">
		    <h1><a href="../"><i class="fa fa-balance-scale" aria-hidden="true"></i>
 SCOTUSfiles</a></h1>
	    </div>
	    <div class="one-third column" style="margin-top: 26px; text-align: right;">
		<% if user_signed_in? %>
      <%= button_to "sign out", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "sign in", new_user_session_path, class: "button" %>  <%= link_to "sign up", new_user_registration_path, class: "button button-primary" %>
		<% end %>
	    </div>
    </div>	 
	  

	
	  
	<%= yield %>  

     </div>
	   
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.2.min.js"></script>
<script async data-id="101399487" src="//static.getclicky.com/js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101399487ns.gif" /></p></noscript>

  </body>
</html>
