<!DOCTYPE html>
<html>
  <head>
    <title>SCOTUSfiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>
  
  <h1><a href="../">SCOTUS<mark>files</mark></a></h1>

  <body>

<% unless user_signed_in? %> 	  
	  <div id="signup">
	 <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSe_FMpNJh1qgqsOw2yhxKHbi3aa117Z6XHC0rLYYJ-HMvnhnQ/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">


	  <strong>Sign up to receive updates!</strong>
	  	  <input type="email" name="entry.1674987373" id="entry.1674987373" placeholder="Please enter your email address" size="45" class="textbox" required>
	 	   <input type="submit" value="Sign Up"> 
	 	 </form>
		 
		 <span id="thanks"></span>
		 
	 	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
  </div>
<% end %>
  	
     <div class="notice"><%= notice %></div>
     <div class="alert"><%= alert %></div>
	 
    <%= yield %>
    
    <br><br>
  
  <div id="login">  
  <hr>

 <p> 	  
  <% if user_signed_in? %> 
 Welcome <%= current_user.email %></div> 
    <%= button_to "sign out", destroy_user_session_path, method: :delete %>
  <% else %>
   <%= link_to "Sign in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</p>
</div>

    <br><br>
    <br><br>

<script async src="//static.getclicky.com/101395978.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101395978ns.gif" /></p></noscript>


	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.2.min.js"></script>
	<script type="text/javascript">var submitted=false;</script>
	<script type="text/javascript">
	$('#gform').on('submit', function(e) {
	  $('#gform *').fadeOut(800);
	  $('#thanks').prepend("You're signed up. Thanks!");  
  });
	</script>
	  
  </body>
</html>
