<!DOCTYPE html>
<html>
  <head>
    <title>SCOTUSfiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
  </head>

<body class="prose mx-auto">
    <div class="container">
	 <!-- Header Container -->
	 <div class="container mx-auto px-4 py-4 flex items-center justify-between">
	   <!-- Left Section -->
	   <div class="flex items-center">
	     <!-- Replace `../` with your actual root path, e.g., `root_path` if appropriate -->
	     <h1 class="text-2xl font-bold">
	       <%= link_to "SCOTUSfiles", root_path, class: "hover:underline" %>
	     </h1>
	   </div>
  
	   <!-- Right Section -->
	   <div class="text-right">
	     <% if user_signed_in? %>
	       <%= button_to "Sign out",
	                     destroy_user_session_path,
	                     method: :delete,
	                     class: "px-4 py-2 text-white bg-gray-800 rounded hover:bg-gray-700" %>
	     <% else %>
	       <%= link_to "Sign in",
	                   new_user_session_path,
	                   class: "inline-block px-4 py-2 mr-2 border border-gray-400 rounded text-gray-700 hover:bg-gray-100" %>
	       <%= link_to "Sign up",
	                   new_user_registration_path,
	                   class: "inline-block px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700" %>
	     <% end %>
	   </div>
	 </div>
	 
	
	  
	<%= yield %>  

     </div>
	   
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.2.min.js"></script>
<script async data-id="101399487" src="//static.getclicky.com/js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101399487ns.gif" /></p></noscript>

  </body>
</html>
